<div class="header paddingContainer">
  <h1>My Items</h1>

  <div (click)="openShoppingCart()" class="shoppingCart">
    <img src="assets/img/shopping_cart_opsz48.svg">
    <div class="shoppingCartAmount" id="shoppingCartAmount"> {{ shoppingCartArray.length }}</div>
  </div>

  <!-- Open shopping cart section with empty and filled content -->
  <div id="shoppingCartContent" class="shoppingCartContent d-none">
    <ul id="shoppingCartContentItems">
      <div class="shoppingCartContentHeader">
        <h2>My Shopping Cart Items</h2>
        <img (click)="closeShoppingCart()" src="assets/img/close_opsz48.svg">
      </div>
      <li *ngFor="let item of shoppingCartArray, let i = index">
        <div class="shoppingCartContentAmount shoppingCartSpacing" id="shoppingCartContentAmount">{{ item.id }}</div>
        <span class="shoppingCartSpacing shoppingCartContentText" id="shoppingCartContentText">{{ item.title }}</span>
        <button (click)="deleteItem(i)" class="shoppingCartSpacing" id="shoppingCartContentDeleteBtn"><img
            src="assets/img/delete_opsz48.svg"></button>
      </li>
      <span class="d-none emptyCart" id="emptyCart">Keine Produkte im Warenkorb!</span>
    </ul>
  </div>
</div>

<!-- Shows nine products from API => url = 'https://fakestoreapi.com/products/' -->
<div id="productsOverview" class="productsOverview paddingContainer d-none">
  <div *ngFor="let product of allProducts, let i = index" class="productCard">
    <p class="productCardTitle" style="min-height:70px; text-align:center; padding: 6px;">{{ product.title }}</p>
    <img src="{{ product.image }}">
    <p style="padding: 6px;">{{ product.price }} €</p>
    <p class="productCardDescription">{{ product.description }}</p>
    <button (click)="addToCart(i)">Add to Cart</button>
  </div>
</div>

<div id="productsLoading" class="productsLoading" *ngIf="loadingProducts">
  <span>The products are on their way! :-)</span>
</div>

<router-outlet></router-outlet>